/* Reset básico para margens, paddings e lista */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Estilo geral do corpo da página */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	width: 100%;
}

/* Cabeçalho */
header {
	background-color: #640421;
	color: #ffffff;
	height: 50vh;
	text-align: center;
	padding: 40px;
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 4em;
}

p {
	font-size: 1.2em;
}

header p {
	color: bisque;
	margin-top: 50px;
}

h2 {
	font-size: 2.5em;
	margin-bottom: 40px;
}

/* Seções */
.sectionSobreNos,
.sectionProdutos {
	padding: 20px;
	margin: 20px;
}

/* Estilo da caixa de texto sobre nós */
.sectionSobreNos p {
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 30px;
	line-height: 1.5;
}

/* Card dos produtos */
.produto {
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	min-width: 200px;
}

h5 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.produto img {
	width: auto;
	height: 300px;
	object-fit: cover;
	border-radius: 20px;
	margin-bottom: 20px;
}

/* Rodapé */
footer {
	margin-top: 50px;
	text-align: center;
	padding: 50px 0;
	background-color: #a0522d;
	color: #f5f5dc;
	font-size: 0.9em;
}

/* ------------------------ */
/* Botões de interação */
/* ------------------------ */
.item-button {
	margin: 2rem 0px;
	width: 50%;
	color: #ecf0f1;
	font-size: 17px;
	background-color: #800020;
	border: 1px solid #35010e;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	box-shadow: 0px 6px 0px #520015;
}

/* Efeito ao passar o mouse no botão */
.item-button:hover {
	background-color: #520015; /* Muda a cor do botão */
	box-shadow: 0px 6px 0px #36000e; /* Altera a sombra, deixando mais escura */
}

/* Efeito ao clicar no botão */
.item-button:active {
	box-shadow: 0px 2px 0px #800020; /* Reduz a sombra (simula botão sendo pressionado) */
	position: relative;
	top: 2px; /* Move levemente para baixo */
}

/* ------------------------ */
/* Efeitos nos produtos */
/* ------------------------ */

/* Quando o mouse passa sobre o card do produto */
.produto:hover {
	transform: scale(1.1); /* Aumenta o tamanho em 10%, criando um efeito de destaque */
	transition: transform 0.3s; /* Adiciona transição suave */
}

/* ------------------------ */
/* Efeito na logo */
/* ------------------------ */
.logo:hover {
	transform: rotateZ(360deg); /* Faz a logo girar 360 graus no eixo Z */
	transition: 1s; /* A rotação leva 1 segundo */
}

/* ------------------------ */
/* Ajuste da lista de produtos */
/* ------------------------ */
.listaProdutos {
	margin: 0px 5%;
}
