header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listaProdutos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.produto {
    flex: 1;
}
